{% load static %}
{% block content %}
{% include 'header.html' %}
<br><br><br>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title mb-3 text-center">User Profile</h3>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item"><strong>Name:</strong> {{ user.name }}</li>
                        <li class="list-group-item"><strong>Phone Number:</strong> {{ user.phone_number }}</li>
                        <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
                    </ul>
                    <div class="text-center">
                        <a href="/logout/" class="btn btn-danger">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}
